
.error{
  color: red;
}
.valid{
  color: green;
}
.textIn{
  padding: 8.25em 5.5em;
  margin: auto !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;}


